<div class="row">
    <div class="col-md-12">
        <div class="card">

            <app-page-header
            [page-title]="pageTitle"
            [page-description]="pageDescription"
            button-link="/transactions"
            ></app-page-header>

            <div class="card-body">
                <form [formGroup]="resourceForm" (submit)="submitForm()">
                    <div class="row">
                        <!-- name -->
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" type="text" class="form-control">

                            <app-form-filed-error [form-control]="resourceForm.controls.name"></app-form-filed-error>
                        </div>        

                        <!-- description -->
                        <div class="col-md-6">
                            <label for="description">Description</label>
                            <input formControlName="description" id="description" type="text" class="form-control">
                        </div>                
                    </div>
                    <div class="row">
                        <!-- category -->
                        <div class="form-group col-md-4">
                            <label for="categoryId">Category</label><br>

                            <p-dropdown 
                            [options]="categories" 
                            formControlName="categoryId" 
                            [group]="true"
                            optionGroupLabel="typeName"
                            optionGroupChildren="categories"
                            optionLabel="categoryName" 
                            optionValue="categoryId" 
                            placeholder=""
                            autoWidth="false"
                            scrollHeight="300px"
                            [style]="{'width':'100%'}">
                            </p-dropdown><br>

                            <app-form-filed-error [form-control]="resourceForm.controls.categoryId"></app-form-filed-error>
                        </div>

                        <!-- wallet -->
                        <div class="form-group col-md-4">
                            <label for="Tipo">Wallet</label>
                            
                            <p-dropdown 
                            [options]="wallets"
                            formControlName="walletId"
                            optionLabel="name"
                            optionValue="id" 
                            placeholder=" "
                            autoWidth="false"
                            [style]="{'width':'100%', 'height': '41%'}">
                            <ng-template let-wallet pTemplate="selectedItem">
                                <div>
                                    <i class="material-icons">{{ wallet.icon }}</i>
                                    <span style="position: relative; bottom: 6px;">&nbsp; {{wallet.name}}</span>
                                </div>  
                            </ng-template>
                            <ng-template let-wallet pTemplate="item">
                                    <div>
                                        <i class="material-icons">{{ wallet.icon }}</i>
                                        <span style="position: relative; bottom: 6px;">&nbsp; {{wallet.name}}</span>
                                    </div>
                            </ng-template>
                            </p-dropdown><br>

                            <app-form-filed-error [form-control]="resourceForm.controls.walletId"></app-form-filed-error>
                        </div>

                        <!-- amount -->
                        <div class="form-group col-md-2">
                            <label for="amount">Amount</label>
                            <input [imask]="imaskConfig" formControlName="amount" type="text" class="form-control text-right">

                            <app-form-filed-error [form-control]="resourceForm.controls.amount"></app-form-filed-error>
                        </div>

                        <!-- date -->
                        <div class="form-group col-md-2">
                            <label for="date">Date</label>
                            <p-calendar id="date" 
                            formControlName="date" 
                            inputStyleClass="form-control text-right"
                            [style]="{'width':'100%'}" 
                            dataType="string"
                            dateFormat="dd/mm/yy"
                            [showButtonBar]="true">
                            </p-calendar><br>
                            
                            <app-form-filed-error [form-control]="resourceForm.controls.date"></app-form-filed-error>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                    </div>

                    <app-server-error-messages></app-server-error-messages>

                    <div class="row">
                        <div class="col-md text-left">
                            <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-danger">
                                {{ this.currentAction == 'new' ? 'Create' : 'Edit' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>