<!-- account_balance
account_balance_wallet
monetization_on
credit_card 
local_atm
card_travel
favorite_border
grade
savings
 -->

<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">

            <app-page-header
            page-title="Wallets"
            page-description="List of all wallets you possess."
            button-link="/wallets/new"
            button-class="btn-danger"
            button-icon="add_circle"
            button-text="New Wallet"
            ></app-page-header>

           
            
            <div class="custom-card-body">

                <div class="row">
                    <div class="col-md">
                        <div class="custom-card-deck">
                            <div class="col-md-2 custom-card" *ngFor="let wallet of resources">
                                <div class="custom-card-body">
                                    <div class="row" style="align-items: center; vertical-align: auto;">                                        
                                        <i style="margin-right: auto;" class="material-icons">{{ wallet.icon }}</i>
                                        <h4 style="position: absolute; padding-left: 13%;" class="custom-card-title">{{ wallet.name }}</h4>
                                        <button routerLink="/wallets/{{ wallet.id }}/edit" class="btn  btn-info btn-fab btn-fab-mini btn-round ">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                    <div class="car-text">
                                        <h6 class="text-muted text-center">Amount:</h6>
                                        <h5 class="text-center">{{ currencyUtil.format(wallet.amount) }}</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <app-pagination
                [pagination-config]="paginationConfig"
                (on-change-page-event)="onPaginationPageChange($event)"
                ></app-pagination>
            </div>
        </div>
    </div>
</div>