<div class="page-header " style="background-color: #acababdc; ">
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
        <form [formGroup]="form" class="form" method="" action="">
            <div class="card-header card-header-primary text-center">
                <p><i class="pe-7s-piggy" style="font-size: large;"></i>
                    My Money
                </p>
              <h3 class="card-title">Login</h3>
            </div>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                <input formControlName="email" type="email" class="form-control" placeholder="Email...">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input formControlName="password" type="password" class="form-control" placeholder="Password...">
              </div>
            </div>

            <!-- Pos Submit Messages -->
            <div *ngIf="successMessage">
              <br><div class="text-success alert-success text-center" role="alert">{{ successMessage }}</div>
            </div>
            <div *ngIf="errorMessages">
              <br><div class="text-danger alert-danger text-center" role="alert" *ngFor="let message of errorMessages">{{ message }}</div>
            </div>

            <div class="footer text-center">
              <a (click)="submitForm()" class="btn btn-primary btn-link btn-wd btn-lg">LOG IN</a>
            </div>
            <p class="description text-center">Doesn't have an account? You can <a routerLink="/register">REGISTER</a> here.</p>
          </form>
        </div>
      </div>
    </div>
  </div>