<div class="sidebar" data-color="red" >
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <div class="icon">
                    <i class="pe-7s-piggy" style="font-size: x-large;"></i>
                        &nbsp; My Dear Money
                </div>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active" *ngFor="let menuRoute of menuRoutes">
                <a routerLink="{{ menuRoute.path }}" class="nav-link {{ menuRoute.class }}">
                    <i class="{{ menuRoute.icon }}"></i>
                    <p>{{ menuRoute.title }}</p>
                </a>
            </li>
        </ul>
    </div>
</div>